html {
    font-size: 10px;
    font-family: 'Roboto', cursive;
    background-color: #00539f;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: auto;
    background-color: #ff9500;
}