body {
    background-color: dodgerblue;
}

h1 {
    font-size: 5em;
}

p {
    font-size: 7em;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-size: 5em;
    inline-size: 250px;
    block-size: 100px;
}
