html {
    font-size: 10px;
    background-color: #a9a9a9;
}

body {
    inline-size: 70%;
    min-inline-size: 800px;
    margin: auto;
}

h1, h2 {
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
}

p, li {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
}