.attribution {
     font-size: 11px; text-align: center;

     a { 
        color: hsl(228, 45%, 44%); 
    }

}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
    font-size: 15px;
    background-color: hsl(212 45 89);
    block-size: 100%;
    margin: 0;
    display: flex block;
}

figure {
    border-radius: 1em;
    margin: 3em auto;
    background-color: white;
    inline-size: 18em;
    padding: .5em;
}

img {
    border-radius: 1em;
    inline-size: 100%;
}

p {
    color: hsl(216, 15%, 48%);
    text-align: center;

    &:first-child {
    color: hsl(218, 44%, 22%);
    font-weight: bold;
}
}