.attribution {
     font-size: 11px; text-align: center;

     a { 
        color: hsl(228, 45%, 44%); 
    }

}

@font-face {
    font-family: Outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
    font-size: 15px;
    background-color: hsl(212 45 89);
}

figure {
    border-radius: 2em;
    margin: 3em auto;
    background-color: white;
    inline-size: 18em;
    padding: .5em;
}

img {
    border-radius: 2em;
    inline-size: calc(100% - 1em);
}

p:first-child {
    font-weight: bold;
}