.attribution {
     font-size: 11px; 
     text-align: center;
     position: absolute;
     position-anchor: --qr-container;
     position-area: block-end;

     a { 
        color: hsl(228, 45%, 44%); 
    }

}

* {
    box-sizing: border-box;
}

html, body, .qr-container {
    block-size: 100%;
}

body {
    margin: 0;
    background-color: hsl(212 45 89);
    font-size: 15px;
}

@font-face {
    font-family: Outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

.qr-container {
    display: flex block;
    align-items: center;
    justify-content: center;
    anchor-name: --qr-container;
}

figure {
    border-radius: 1em;
    background-color: white;
    inline-size: 18em;
    padding: 1em;
}

img {
    border-radius: 1em;
    inline-size: 100%;
}

p {
    color: hsl(216, 15%, 48%);
    text-align: center;

    &:first-child {
    color: hsl(218, 44%, 22%);
    font-weight: bold;
}
}